<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Controller\Cart\CouponPost">
        <plugin name="taggrs_datalayer_select_promotion"  type="Taggrs\DataLayer\Plugin\SelectPromotion" />
    </type>

    <type name="Magento\Checkout\Controller\Cart\Delete">
        <plugin name="taggrs_datalayer_remove_from_cart"  type="Taggrs\DataLayer\Plugin\RemoveFromCart" />
    </type>
</config>
